.beige {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

.aqua {
    width: 20%;
    height: 50rem;
    background-color: blue;
    float: left;
}

.bleu {
    width: 100%;
    height: 50rem;
    background-color: aqua;
    
}

.green {
    width: 20%;
    height: 50rem;
    background-color: blue;
    float: right;
}

.clear {
    clear: both;
}