.carre1{
    float: left;
    text-align: center;
    background-color: green;
    border: 3px solid;
    border-radius: 15%;
    border-color: black;
    width: 150px;
    height: 150px;
    margin: 1%;
}

.carre2{
    float: left;
    text-align: center;
    background-color: purple;
    border: 3px solid;
    border-radius: 15%;
    border-color: black;
    width: 150px;
    height: 150px;
    margin: 1%;
}

.clear {
    clear: both;
}

