.left {
width: 50%;
height: 40rem;
background-color: black;
float: left;
}

.right {
    width: 50%;
    height: 40rem;
    background-color: blue;
    float: right;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}

.clear {
    clear: both;
}