.blue {
    width: 20%;
    height: 200PX;
    background-color: blue;
}

.green {
    width: 20%;
    height: 200px;
    background-color: blue;
}   

.yellow {
    width: 60%;
    height: 200px;
    background-color: darkslateblue;
}

.menu {
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
}

.zoneleft {
    height: 1000px;
    width: 20%;
    background-color: darkslategray;
}

.a,
.b {
    width: 40%;
    height: 400px;
    background-color: gray;
}

.b {
    background-color: blue;
}
.slideshow {
    width: 80%;
    height: 400px;
    background-color:darkseagreen;
}

.c,
.d,
.e,
.f {
    width: 20%;
    height: 200px;
    background-color: firebrick;

}

.d,
.f {
    background-color:bisque;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;

}

.clear {
    clear: both;
}

body {
    margin: auto 0;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}